.transactionHistory {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
  
    text-align: center;
    font-weight: 400;
    color: black;
    border: 1px solid rgb(68, 64, 64);
  }
  
  table {
    table-layout: fixed;
    width: 75%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 20px;
    border: 1px solid black;
  }
  
  th {
    background-color: #07383686;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #07383686;
  }